<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">Map</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <%= form_tag create_marker_path, method: :post, remote: true, class: "navbar-form" do  %>
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <%= text_field_tag 'address', "", class: "text-css form-control", placeholder: "Search Coming Soon!" %>
            <%= form_tag "Submit" %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
          </div>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><a target="_ext">Signed in as <%= current_user.email %></a></li>
          <% end %>
          <li>
            <% if user_signed_in? %>
          <li><%= link_to("Not You?", destroy_user_session_path, :method => :delete) %></li><br><br>
            <% else %>
            <% end %>
        </ul>
      </form>
    </div>
</div>

<div id="map"></div>
